DB_HOST=localhost
DB_PORT=5432
DB_NAME=YOUR_DB_NAME #EXAMPLE = db_lai
DB_USER=postgres
DB_PASS=YOUR_DB_PASSWORD

UPLOAD_DIR=../assets/img/
MAX_FILE_SIZE=2097152

SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASS=YOUR_APP_PASSWORD
SMTP_PORT=587

MAIL_FROM=admin@example.com
MAIL_FROM_NAME="admin@lab"

MAIL_TO=recipient@example.com
MAIL_TO_NAME="Recipient Name"
